/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-size: 62.5%
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.top-container {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 500px){
    header {
        margin-left: 20%;
    }

    nav ul {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
      }

    .logo {
        max-width: 100%;
        height: auto;
    }
}

.logo {
    float: left;
    padding: 1rem 0;

}

nav {
    float: inline-start;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 4.4rem;
    padding-top: 2.3rem;
}

nav a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 56%;
    margin: 0 auto;
}

#jumbo {
    padding: 1.8rem 0;
}

@media (max-width: 500px){
    #jumbo {
      width: 100%;
      height: 10rem;
    }
  }

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    border-bottom: .08rem dashed black;
}

@media (max-width: 500px){
    .top-content {
        display: inline-flex;
        flex-direction: column;
        align-content: center;
    }


}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 1rem;  
}

.middle-content {
    margin-bottom: 1.2%;
    border-bottom: .08 dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 6.25rem;
    background: black;
    margin: 1.6rem 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


#b1 {
    background: teal;
}

@media (max-width: 500px) {
    #b1 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}
#b2 {
    background: gold;
}

@media (max-width: 500px) {
    #b2 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}

#b3{
    background: cadetblue;
}

@media (max-width: 500px) {
    #b3 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}

#b4 {
    background: coral;
}

@media (max-width: 500px) {
    #b4 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}

#b5 {
    background: crimson;
}

@media (max-width: 500px) {
    #b5 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}

#b6 {
    background: forestgreen;
}

@media (max-width: 500px) {
    #b6 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}

#b7 {
    background: darkorchid;
}

@media (max-width: 500px) {
    #b7 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}
#b8 {
    background: hotpink;
}

@media (max-width: 500px) {
    #b8 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}

#b9 {
    background: indigo;
}

@media (max-width: 500px) {
    #b9 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}

#b0 {
    background: dodgerblue;
}

@media (max-width: 500px) {
    #b0 {
        width: 40%;
        height: 10rem;
        margin: 2rem;
        margin-right: 16rem;
        justify-content: center;
        align-items: center;
    }
}

.bottom-content {
    display: flex;
    margin: 0 2% 1.6rem;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

@media (max-width: 500px){
    .bottom-content {
        display: inline-flex;
        flex-direction: column;
    }
    .bottom-content .text-container {
        padding:1%
    }
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    font-size: 1rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media (max-width: 500px){
    footer nav {
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        margin-left: 20%;
        font-size: 1.4rem;
        line-height: 1.5;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}